<h2>Escala Completa</h2>

<table>
<tr>
  <th>Semana</th>
  <th>Período</th>
</tr>

<% semanas.forEach(s => { %>
<tr>
  <td><%= s.semana_numero %></td>
  <td><%= s.data_inicio %> - <%= s.data_fim %></td>
</tr>
<% }) %>

</table>
