<% layout("layout") %>

<h1>Ordens de Serviço</h1>

<a href="/os/nova" class="btn">Nova OS</a>

<table>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Status</th>
    <th>Data</th>
  </tr>

  <% itens.forEach(os => { %>
    <tr>
      <td><%= os.id %></td>
      <td><%= os.titulo %></td>
      <td><%= os.status || "Aberta" %></td>
      <td><%= os.created_at %></td>
    </tr>
  <% }) %>
</table>
