<% layout("layout") %>

<h1>Nova Solicitação de Compra</h1>

<form method="POST" action="/compras">
  <label>Descrição</label>
  <textarea name="descricao" required></textarea>

  <button type="submit" class="btn">Salvar</button>
</form>
